.bar-spacer{
    flex: 1 1 auto;
}
.logo-title{
    padding-left:10px;
    font:100 12px/20px Roboto, "Helvetica Neue", sans-serif
}

.position-fixed{
    position: fixed;
    z-index:10;
}
  
.mat-sidenav-container
{
    margin-top: 0px;
}


