<div class="section"> 
    <div id="quote"> We will create fun text animation so that will improve the user experience of our site. <br> I am looking for good relationship <br> this page we will see the animation works</div>
</div>

<div style="" class="section">
    <h1 id = "developer" #developer>We are Developer <br> looking for</h1>
    <div class="testbox">
    <span  style="background-color: aqua;">
        Professional Front End Developer 
    </span>
    </div>
    <div class="testbox">
    <span  style="background-color: black;color: wheat;">
        Showing Some Smotth Animation 
    </span>
    </div>
    <div   id = "test" #test  > 
        <app-logo></app-logo>    
    </div>

    <div  id = "test1" #test  > 
        <app-logo></app-logo>    
    </div>

    <div  id = "test2" #test  > 
        <app-logo></app-logo>    
    </div>

</div>

